# Virtual environments
.venv

# node_modules
node_modules/

# Logs files
*.log

# Environment files
.env

# Build outputs
dist/

# files created by ServidorMinecraft
ServidorMinecraft/*
!ServidorMinecraft/Leia-me.txt
!ServidorMinecraft/README.md
!ServidorMinecraft/start.bat
!ServidorMinecraft/_puglins_viaversion
!ServidorMinecraft/paper.jar

# files created by Prisma
dev.db
dev.db-journal

# Exported metrics
exports/